/target
/classes
/checkouts
.cpcache/
local.deps.edn
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
media/
.clj-kondo
__pycache__/
__pycache__
__pycache__/*
.lsp/
.claude/
.clojure-mcp/
videos/
